@use "variables" as v;

body {
    background-color: v.$color-mid-light;
    margin: 0;
    padding: 0;
    display: inline-block;
    min-height: 100vh;
    width: 100%;
}


.page-content {
    margin-left: v.$sidebar-width;
}

a{
    text-decoration: none;
}
